{% extends 'layout.html' %}

{% block content%}
<h2 align='center'> Content Writing </h2>
<form action='addForm' method='post'>
    {% csrf_token %}
    <div class='from-group'>
        <label for=''>Content title</label>
        <input type='text' class='form-control' name='name'>
    </div>
        <div class='from-group'>
        <label for=''>Content detail</label>
        <input type='text' class='form-control' name='description'>
    </div>
    <input type='submit' value='content record' class='btn btn-primary'>
</form>

{% endblock %}